In [114]:
# Import necessary library
import pandas as pd
import numpy as np

In [115]:
# Load your CSV (correcting encoding)
df = pd.read_csv("ycombinator_company_not_clean_data.csv", encoding="latin1")
df.head(10)  # Display the first 10 rows of the DataFrame

,company_urls,company_name,founded_date,batch,team_size,status,location,slogan,company_website_url,company_types,founder_1,founder_2,founder_3
0,https://www.ycombinator.com/companies/10-by-10,10-by-10,Not available,Summer 2017,5,Active,San Francisco,10by10 is a unique marketplace in the recruiti...,https://10by10.io/,"ARTIFICIAL-INTELLIGENCE, MARKETPLACE, RECRUITING",April Chang\nFounder/CEO\nWhat is 10x10? It's ...,Robert Bartruff\nFounder,Not available
1,https://www.ycombinator.com/companies/1000memo...,1000memories,Not available,Summer 2010,2,Acquired,San Francisco,Memorial sites.,http://ancestry.com/,COMMUNITY,Jonathan Good\nFounder\nBack in New Zealand wo...,Brett Huneycutt\nFounder\n- Co-founder at Weal...,Rudy Adler\nFounder
2,https://www.ycombinator.com/companies/100x,100x,2024,Summer 2022,3,Active,"Bengaluru, India","Create, Share, and Monetize AI Agents",https://100x.bot/,"ARTIFICIAL-INTELLIGENCE, AI, AI-ASSISTANT",Shardul Lavekar\nFounder\nFounder at 100x\nEng...,Parth Mudgal\nFounder\nTech at VideoBug,Not available
3,https://www.ycombinator.com/companies/1189,1189,Not available,Summer 2016,11,Inactive,Not available,Personal computer in the cloud,https://sixa.io/,CLOUD-COMPUTING,Not available,Not available,Not available
4,https://www.ycombinator.com/companies/14-ai,14-ai,2023,Winter 2024,3,Active,San Francisco,Customer support for 1000x teams,https://14.ai/,"ARTIFICIAL-INTELLIGENCE, DEVELOPER-TOOLS, CUST...",Marie Schneegans\nFounder\nCo-founder of 14.ai.,Michael Fester\nFounder\nCo-founder of 14.ai. ...,Not available
5,https://www.ycombinator.com/companies/1849-bio,1849-bio,2024,Summer 2024,3,Active,San Francisco,Engineering microbes for miners to unlock bill...,https://www.1849.bio/,"HARD-TECH, SYNTHETIC-BIOLOGY, BIOTECH, CLIMATE...",Jai Padmakumar\nFounder\nCo-founder and CEO of...,Yongjin Park\nFounder\nI am the co-founder and...,Not available
6,https://www.ycombinator.com/companies/1910-gen...,1910-genetics,2018,Winter 2019,25,Active,Boston,Make undruggable targets a thing of the past,http://1910genetics.com/,AI-POWERED-DRUG-DISCOVERY,Jen Asher\nFounder & CEO\nFounder & CEO @ 1910...,Not available,Not available
7,https://www.ycombinator.com/companies/1stcollab,1stcollab,2022,Winter 2023,6,Active,San Francisco,Performance-Optimized Influencer Marketing,https://1stcollab.com/,Not available,Leon Lin\nFounder & CEO\nCurrently working on ...,Varun Bansal\nFounder\nCo-founder at 1stCollab...,Andrew Liu\nFounder\nCurrently working on buil...
8,https://www.ycombinator.com/companies/20n,20n,Not available,Winter 2015,2,Inactive,San Francisco,Using AI to predict biochemistry for manufactu...,http://20n.com/,"ARTIFICIAL-INTELLIGENCE, BIOTECH",Saurabh Srivastava\nFounder/CEO,Chris Anderson\nFounder/CSO,Not available
9,https://www.ycombinator.com/companies/222,222,2021,Winter 2023,6,Active,New York,marketplace facilitating IRL social experience...,https://222.place/,"MACHINE-LEARNING, MARKETPLACE, CONSUMER, SOCIA...",Keyan Kazemian\nFounder\naccelerating chance s...,Danial Hashemi\nFounder\nIranian immigrant bui...,Arman Roshannai\nFounder\nengineering serendip...

In [116]:
df[['founder_1', 'founder_2', 'founder_3']]
# These columns contain founder information, which will need cleaning.

,founder_1,founder_2,founder_3
0,April Chang\nFounder/CEO\nWhat is 10x10? It's ...,Robert Bartruff\nFounder,Not available
1,Jonathan Good\nFounder\nBack in New Zealand wo...,Brett Huneycutt\nFounder\n- Co-founder at Weal...,Rudy Adler\nFounder
2,Shardul Lavekar\nFounder\nFounder at 100x\nEng...,Parth Mudgal\nFounder\nTech at VideoBug,Not available
3,Not available,Not available,Not available
4,Marie Schneegans\nFounder\nCo-founder of 14.ai.,Michael Fester\nFounder\nCo-founder of 14.ai. ...,Not available
...,...,...,...
5035,Sergio Romo\nFounder/CEO\nGrin S18. Investor i...,Jonathan Lewy\nFounder,Not available
5036,Alex Andon\nFounder/CEO\nCurrently a Product M...,Cam Urban\nFounder\nCo-founder Jellyfish Art (...,Not available
5037,Naimisha Rao\nFounder\nNaimisha is the co-foun...,Dilip Jain\nFounder,Manthan Shah\nFounder
5038,Glenn Espinosa\nFounder\nFounder and CEO @ Lut...,John Espinosa\nFounder\nJohn is a software eng...,Not available
5039,"Mike Xu\nFounder/CEO, , President",Not available,Not available

In [117]:
# Function to clean founder info
def clean_founder(text):
    if pd.isna(text) or text == "Not available":
        return "Not available"
    # Take only the first line (because 1st line has the name)
    return text.split('\n')[0].strip()

# Apply to founder columns
for i in range(1, 4):
    df[f'founder_{i}'] = df[f'founder_{i}'].apply(clean_founder)

In [118]:
df[['founder_1', 'founder_2', 'founder_3']]

             founder_1        founder_2      founder_3
0          April Chang  Robert Bartruff  Not available
1        Jonathan Good  Brett Huneycutt     Rudy Adler
2      Shardul Lavekar     Parth Mudgal  Not available
3        Not available    Not available  Not available
4     Marie Schneegans   Michael Fester  Not available
...                ...              ...            ...
5035       Sergio Romo    Jonathan Lewy  Not available
5036        Alex Andon        Cam Urban  Not available
5037      Naimisha Rao       Dilip Jain   Manthan Shah
5038    Glenn Espinosa    John Espinosa  Not available
5039           Mike Xu    Not available  Not available

[5040 rows x 3 columns]

In [119]:
df.count()  # Count non-null values in each column

company_urls           5040
company_name           5040
founded_date           5040
batch                  5040
team_size              5040
status                 5040
location               5040
slogan                 4893
company_website_url    5040
company_types          5040
founder_1              5040
founder_2              5040
founder_3              5040
dtype: int64

In [120]:
df.info()  # Display DataFrame info to check data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5040 entries, 0 to 5039
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_urls         5040 non-null   object
 1   company_name         5040 non-null   object
 2   founded_date         5040 non-null   object
 3   batch                5040 non-null   object
 4   team_size            5040 non-null   object
 5   status               5040 non-null   object
 6   location             5040 non-null   object
 7   slogan               4893 non-null   object
 8   company_website_url  5040 non-null   object
 9   company_types        5040 non-null   object
 10  founder_1            5040 non-null   object
 11  founder_2            5040 non-null   object
 12  founder_3            5040 non-null   object
dtypes: object(13)
memory usage: 512.0+ KB

In [121]:
df.describe()  # Get summary statistics of the DataFrame

,company_urls,company_name,founded_date,batch,team_size,status,location,slogan,company_website_url,company_types,founder_1,founder_2,founder_3
count,5040,5040,5040,5040,5040,5040,5040,4893,5040,5040,5040,5040,5040
unique,4932,4932,23,44,196,5,376,4786,4900,3167,4832,3562,972
top,https://www.ycombinator.com/companies/jet-admin,jet-admin,Not available,Winter 2022,2,Active,San Francisco,Not available,Not available,Not available,Not available,Not available,Not available
freq,2,2,1111,365,1043,3356,1732,108,109,603,123,1440,4063

In [122]:
df['company_name'].duplicated().any()
# Check for duplicates in a specific column

np.True_

In [123]:
# Show all duplicate values in the column
duplicates = df[df['company_name'].duplicated(keep=False)]['company_name']
print(duplicates)

1200             double-2
1383                 exec
1384    exin-therapeutics
1385                 exla
1386                 exly
              ...
5035                 grin
5036        jellyfish-art
5037         gullak-money
5038               luthor
5039           grubmarket
Name: company_name, Length: 216, dtype: object

In [124]:
# Count occurrences of each company name

duplicate_counts = df['company_name'].value_counts()
duplicates_only = duplicate_counts[duplicate_counts > 1]
print(duplicates_only)

company_name
jet-admin           2
jetdocs             2
jetlenses           2
jetpack-aviation    2
lygg                2
                   ..
trace-so            2
ultra               2
unify               2
webhound            2
youlearn            2
Name: count, Length: 108, dtype: int64

In [125]:
# Remove duplicates, keeping the first occurrence

df.replace("Not available", pd.NA, inplace=True) # Replace 'Not available' with NaN

# Count non-NA values per row
df['non_missing_count'] = df.notna().sum(axis=1)

# Sort so rows with more data come first, then drop duplicates keeping the first
df_cleaned = df.sort_values('non_missing_count', ascending=False)\
               .drop_duplicates(subset='company_name', keep='first')\
               .drop(columns='non_missing_count')

# Replace NaN back with 'Not available'
df_cleaned.fillna("Not available", inplace=True)

In [126]:
# check for duplicates in the cleaned DataFrame
df_cleaned['company_name'].duplicated().any()

np.False_

In [127]:
df_cleaned.count()  # after cleaning Count non-null values in each column

company_urls           4932
company_name           4932
founded_date           4932
batch                  4932
team_size              4932
status                 4932
location               4932
slogan                 4932
company_website_url    4932
company_types          4932
founder_1              4932
founder_2              4932
founder_3              4932
dtype: int64

In [128]:
df_cleaned['founded_date'].isna()  # Check the distribution of founded dates

5037    False
5025    False
5028    False
28      False
59      False
        ...
4694    False
4348    False
4246    False
487     False
2668    False
Name: founded_date, Length: 4932, dtype: bool

In [ ]:
# Replace "Not available" with NaN
df_cleaned['founded_date'] = df_cleaned['founded_date'].replace("Not available", np.nan)

In [ ]:
# Optional: convert to numeric (errors='coerce' converts non-numeric to NaN)
df['founded_date'] = pd.to_numeric(df['founded_date'], errors='coerce')

In [132]:
df_cleaned['founded_date'].value_counts()  # Check the distribution of founded dates

founded_date
2021            508
2020            507
2024            423
2023            421
2019            399
2022            350
2018            242
2025            224
2017            219
2015            141
2016            134
2014            101
2013             74
2012             72
2011             53
2010             16
2009             14
2008             11
2007              9
2006              6
2005              4
Founded:2022      1
Name: count, dtype: int64

In [133]:
# Save cleaned CSV

df_cleaned.to_csv("yc_company_data.csv", index=False, encoding="utf-8-sig")
print("Cleaned data saved successfully.")

Cleaned data saved successfully.

In [134]:
df = pd.read_csv("yc_company_data.csv")
df.head(10)  # Display the first 10 rows of the DataFrame

,company_urls,company_name,founded_date,batch,team_size,status,location,slogan,company_website_url,company_types,founder_1,founder_2,founder_3
0,https://www.ycombinator.com/companies/gullak-m...,gullak-money,2022,Summer 2022,15,Active,"Bengaluru, India",Gullak automates savings & invests these in gold,https://gullak.money/,"FINTECH, CONSUMER",Naimisha Rao,Dilip Jain,Manthan Shah
1,https://www.ycombinator.com/companies/fingo-af...,fingo-africa,2020,Summer 2021,8,Active,"Nairobi, Kenya",A neobank for Africa's 500 million youth,https://fingo.africa/,NEOBANK,Kiiru Muhoya,Ian Njuguna,Gitari Tirima
2,https://www.ycombinator.com/companies/finley,finley,2021,Winter 2021,32,Active,San Francisco,Streamline your debt capital raise and management,https://www.finleycms.com/,"FINTECH, SAAS",Jeremy Tsui,Kevin Suh,Josiah Tsui
3,https://www.ycombinator.com/companies/abacus,abacus,2014,Winter 2014,30,Acquired,New York,Making expense reports obsolete,http://abacus.com/,"FINTECH, SAAS, PAYMENTS, B2B",Omar Qari,Ted Power,Joshua Halickman
4,https://www.ycombinator.com/companies/adravision,adravision,2021,Summer 2021,8,Active,"Singapore, Singapore",Automation for dental clinics and insurance co...,https://www.adra.ai/,"HEALTHCARE, DIAGNOSTICS",Hamed Fesharaki,Liushifeng Chen,Yasaman Nematbakhsh
5,https://www.ycombinator.com/companies/able,able,2019,Winter 2020,50,Acquired,"Bengaluru, India",India's Largest Placement Platform for Early P...,https://ablejobs.co/,"CONSUMER, INDIA, EDTECH",Ravish Agrawal,Siddharth Srivastava,Svatantra Kumar
6,https://www.ycombinator.com/companies/neodocs,neodocs,2020,Summer 2021,20,Active,India,Instant lab tests on your smartphone,https://www.neodocs.in/,"ARTIFICIAL-INTELLIGENCE, CONSUMER-HEALTH-SERVI...",Nikunj Malpani,Pratik Lodha,Anurag Meena
7,https://www.ycombinator.com/companies/nanograb,nanograb,2023,Summer 2023,5,Active,San Francisco,AI-generated binders for targeted drug delivery,https://nanograb.com/,"AI-POWERED-DRUG-DISCOVERY, NANOMEDICINE, BIOTE...",Debesh Mandal,Christopher Lau,Shanil Panara
8,https://www.ycombinator.com/companies/narrator,narrator,2017,Summer 2019,8,Inactive,New York,The only platform that can prep data to answer...,https://www.narratordata.com/,"ANALYTICS, BIG-DATA, DATA-ENGINEERING",Cedric Dussud,Ahmed Elsamadisi,Mike Nason
9,https://www.ycombinator.com/companies/nasdisc,nasdisc,2021,Summer 2021,4,Acquired,San Francisco,"A marketplace for vinyl, cassettes and cds",https://www.nasdisc.com/,"ART-TRADING-PLATFORMS, MARKETPLACE, E-COMMERCE",Cam Korzecke,Simeon Goolsby,Christian White

In [135]:
df.count()  # Count non-null values in each column

company_urls           4932
company_name           4932
founded_date           3929
batch                  4932
team_size              4932
status                 4932
location               4932
slogan                 4932
company_website_url    4932
company_types          4932
founder_1              4932
founder_2              4932
founder_3              4932
dtype: int64

In [136]:
df['founded_date'].value_counts()  # Check the distribution of founded dates

founded_date
2021            508
2020            507
2024            423
2023            421
2019            399
2022            350
2018            242
2025            224
2017            219
2015            141
2016            134
2014            101
2013             74
2012             72
2011             53
2010             16
2009             14
2008             11
2007              9
2006              6
2005              4
Founded:2022      1
Name: count, dtype: int64